* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4974a5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bird {
  position: absolute;
  width: 400px;
  height: 400px;
}
.bird .head {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: #dc002d;
  border-radius: 50%;
  border: 3px solid #000801;
  overflow: hidden;
}
.bird .head::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #eccaa8;
  border-radius: 65%;
  top: 60%;
  left: 11%;
  animation: headBefore 1s alternate;
}
@keyframes headBefore {
  0% {
    top: 100%;
  }
  100% {
    top: 60%;
  }
}
.bird .tail-middle,
.bird .tail-top,
.bird .tail-bottom {
  position: absolute;
  width: 80px;
  height: 80px;
  -webkit-clip-path: polygon(0 27%, 100% 40%, 100% 68%, 0 79%);
          clip-path: polygon(0 27%, 100% 40%, 100% 68%, 0 79%);
  background-color: #000801;
}
.bird .tail-middle {
  top: 37%;
  left: -19%;
  animation: tailMiddle 1s alternate;
}
@keyframes tailMiddle {
  0% {
    left: 0%;
  }
  100% {
    left: -19%;
  }
}
.bird .tail-top {
  top: 29%;
  left: -11%;
  transform: rotate(39deg);
  animation: tailTop 1s alternate;
}
@keyframes tailTop {
  0% {
    left: 3%;
  }
  100% {
    left: -11%;
  }
}
.bird .tail-bottom {
  top: 45%;
  left: -11%;
  transform: rotate(-39deg);
  animation: tailBottom 1s alternate;
}
@keyframes tailBottom {
  0% {
    left: 3%;
  }
  100% {
    left: -11%;
  }
}
.bird .eyebrow-right {
  position: absolute;
  width: 140px;
  height: 50px;
  background-color: #000801;
  top: 18%;
  right: 15%;
  transform: rotate(-8deg);
  z-index: 9;
  animation: EyeBrowRight 1s alternate;
}
@keyframes EyeBrowRight {
  0% {
    right: -300%;
  }
  100% {
    right: 15%;
  }
}
.bird .eyebrow-left {
  position: absolute;
  width: 140px;
  height: 50px;
  background-color: #000801;
  top: 18%;
  left: 17%;
  transform: rotate(8deg);
  z-index: 9;
  animation: EyeBrow 1s alternate;
}
@keyframes EyeBrow {
  0% {
    left: -300%;
  }
  100% {
    left: 17%;
  }
}
.bird .eye-right {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #000801;
  box-shadow: 10px 3px 10px 3px #ab0024;
  top: 25%;
  left: 50%;
  animation: EyeRight 1s alternate;
}
@keyframes EyeRight {
  0% {
    left: 300%;
  }
  100% {
    left: 50%;
  }
}
.bird .eye-right::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000801;
  top: 18%;
  left: 24%;
}
.bird .eye-right::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  top: 20%;
  left: 40%;
  animation: innerEyePulse 2s infinite alternate;
}
.bird .eye-left {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #000801;
  box-shadow: -10px 3px 10px 3px #ab0024;
  top: 25%;
  left: 20%;
  animation: Eyeleft 1s alternate;
}
@keyframes Eyeleft {
  0% {
    left: -300%;
  }
  100% {
    left: 20%;
  }
}
.bird .eye-left::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000801;
  top: 18%;
  right: 24%;
}
.bird .eye-left::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  top: 20%;
  right: 40%;
  animation: innerEyePulse 2s infinite alternate;
}
@keyframes innerEyePulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.bird .beak {
  position: absolute;
  width: 110px;
  height: 110px;
  background-color: #fca90d;
  border: 2px solid #000;
  border-radius: 29% 0% 3% 0%;
  top: 50%;
  left: 36%;
  transform: rotate(45deg);
  animation: beak 1s alternate;
}
@keyframes beak {
  0% {
    top: -110%;
  }
  100% {
    top: 50%;
  }
}
.bird .beak::after {
  content: "";
  position: absolute;
  width: 152px;
  height: 2px;
  background-color: #000;
  transform: rotate(135deg);
  top: 47%;
  right: -23%;
}
.bird .hair {
  content: "";
  position: absolute;
  width: 55px;
  height: 110px;
  background-color: #dc002d;
  border: 3px solid #000;
  border-radius: 50%;
  top: -18%;
  left: 33%;
  transform: rotate(-60deg);
  animation: hair 1s alternate;
}
@keyframes hair {
  0% {
    top: -110%;
  }
  100% {
    top: -18%;
  }
}
.bird .hair::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 110px;
  background-color: #dc002d;
  border: 3px solid #000;
  border-radius: 50%;
  top: 50%;
  left: 28%;
  transform: rotate(20deg);
}

.make-bird {
  position: absolute;
  width: 400px;
  height: 400px;
}
.make-bird .head {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: #dc002d;
  border-radius: 50%;
  border: 3px solid #000801;
}

.button {
  background-color: #000801;
  border: 1px solid #000801;
  color: #dc002d;
  padding: 12px;
  position: absolute;
  top: 20px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button:hover {
  background-color: #dc002d;
  color: #000801;
  border-color: #dc002d;
}/*# sourceMappingURL=style.css.map */